/* For testing only */
/*font-family: 'Luckiest Guy', cursive;
font-family: 'Love Ya Like A Sister', cursive;
font-family: 'Frijole', cursive;
font-family: 'Chelsea Market', cursive;*/
/**:not(body):not(html) {
  box-sizing:border-box;
  border:1px dashed #000;
}*/
.container {
}

.row {
  height: auto;
  width: auto;
}
.side-bar {
  justify-content: space-between;
  width: 40%;
  height: 900px;
  background-color: #FFFF88;
}
.main-content {
  width: 60%;
  height: 900px;
}
.facility {
  height: 33.3%;
  width: 100%;
  background-image: url("../img/background1.jpg");
  background-size: contain;
  font-family: 'Love Ya Like A Sister', cursive;
  font-weight: bold;
  color: white;
  text-align: center;
}
.facility h1 {
  font-size: 85px;
  margin-top: -20px;
}
.location {
  width: 300px;
  height: 100px;
  float: left;
  margin-left: 22%;
  text-align: center;
  font-size: 25px;
  font-weight: bolder;
}
.nav-bar {
  height: 37.3%;
  width: 100%;
  background-color: #1579B4;
}
.circle1 {
  width: 100px;
  height: 100px;
  /*background-color: #8CC63E;*/
  border-radius: 50%;
  margin-left: 7%;
  border: 5px solid #008742;
  background-image: url("../img/dog1.png");
  background-size: cover;

}
.start-up-header {
  margin-top: 30px;
  width: 250px;
  height: 40px;
  background-color: #8CC63E;
  font-size: 15px;
  color: #1579B4;
  font-family: 'Love Ya Like A Sister', cursive;
  font-weight: bolder;
  text-align: center;
  padding-top: 5px;
  border-radius: 8px;
  box-shadow: 10px 10px 5px #888888;
}
.circle2 {
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 50%;
  border: 5px solid #008742;
  background-image: url("../img/dog2.png");
  background-size: cover;
}
.pricing-header {
  margin-left: 40%;
  margin-top: 30px;
  width: 250px;
  height: 40px;
  background-color: #8CC63E;
  font-size: 18px;
  color: #1579B4;
  font-family: 'Love Ya Like A Sister', cursive;
  font-weight: bolder;
  border-radius: 8px;
  text-align: center;
  padding-top: 5px;
}
.circle3 {
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 50%;
  margin-left: 22%;
  border: 5px solid #008742;
  background-image: url("../img/dog3.png");
  background-size: cover;
}
.facility-header {
  margin-top: 30px;
  width: 250px;
  height: 40px;
  background-color: #8CC63E;
  font-size: 18px;
  color: #1579B4;
  font-family: 'Love Ya Like A Sister', cursive;
  font-weight: bolder;
  border-radius: 8px;
  text-align: center;
  padding-top: 5px;
}
.facility-footer {
  height: 29.3%;
  width: 100%;
  background-image: url("../img/facility3.jpg");
  background-position: bottom;
}
